.main {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/img/mars.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0;
    padding-top: 110px;
    color: silver;
    min-height: 100vh;

    a {
        color: silver;
        text-decoration: none;

        &:hover {
            color: var(--color-secondary-purple);
        }
    }
}

.contactContainer {
    padding: 3rem 0;
    border-radius: 20px;
    @media (max-width: 768px) {
            justify-content: center;
        }
}
.contactRow {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 150px;
    @media (max-width: 767px) {
        flex-direction: column;
        gap: 20px;
        margin-top: 0;
    }
    .getInTouch{
        background: rgba(0, 0, 0, 0.15);
        box-shadow: 0 8px 16px 0 rgba(173, 73, 225, 0.37);
        backdrop-filter: blur(25px);
        color: white;
        padding: 20px;
        max-width: 562px;
        width: 100%;
        border-radius: 20px;
        .contactInfo {
            margin-bottom: 2rem;

            h2 {
                color: silver;
                font-weight: bold;
                margin-bottom: 1.5rem;
                text-align: center;
            }

            a {
                color: silver;
                font-size: 1.1rem;
                display: block;
                margin-bottom: 1.5rem;
            }

        }

        .contactForm {
            .formGroup {
                margin-bottom: 1.5rem;
            }

            label {
                display: block;
                margin-bottom: 0.5rem;
                color: silver;
            }

            input,
            textarea {
                width: 100%;
                padding: 0.75rem;
                border-radius: 5px;
                border: 1px solid #ccc;
                background-color: rgba(255, 255, 255, 0.9);
                color: #333;
                font-size: 16px;
                outline: none;

                &:focus {
                    border-color: var(--color-secondary-purple);
                }
            }
            .contactbtn{
                display: flex;
                justify-content: center;
                width: 100%; 
            }

            button {
                background-color: var(--color-secondary-purple);
                border-radius: 20px;
                color: silver;
                padding: 0.75rem 2rem;
                border: none;
                cursor: pointer;
                transition: all 0.3s;

                &:hover {
                    border: 2px solid var(--color-secondary-purple);
                    background-color: transparent;
                    color: var(--color-secondary-purple);
                }
            }
        }
    }
}


