.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    background: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
    border-radius: 20px;
    padding: 50px;
    color: var(--color-text-silver);

    @media (max-width: 768px) {
        padding: 30px 0px;
    }
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slide {
    min-width: 100%;
    display: flex;
    justify-content: center;
}

.content {
    max-width: 800px;
    text-align: left;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;

    @media (max-width: 768px) {
        width: 70px;
        height: 70px;
        margin-right: 0;
    }
}

.name {
    color: var(--color-primary-dark);
    font-size: 1.25rem;
    margin-bottom: 0.25rem;

    @media (max-width: 768px) {
        font-size: 1.1rem;
    }
}

.role {
    color: grey;
    margin: 0;
    font-size: 0.9rem;
}

.text {
    font-style: italic;
    color: gray;
    line-height: 1.6;

    @media (max-width: 768px) {
        font-size: 0.95rem;
        line-height: 1.5;
    }
}