.hero {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 0;
    background: url('/img/mars.png') no-repeat center center/cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.glassContainer {
    background: rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(50px);
    color: white;
    border-radius: 30px;
    padding: 3rem;
    margin-top: 100px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    @media (max-width: 768px) {
        padding: 1.5rem;
        border-radius: 20px;
        margin-top: 0;
    }
}

.sectionTitle {
    text-align: center;
    padding: 3rem 0;
    color: var(--color-primary-dark);
    font-weight: bold;
    font-size: 25px;
}

.filterButtons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 3rem;

    button {
        background-color: var(--color-white);
        border: 1px solid var(--color-secondary-purple);
        color: var(--color-secondary-purple);
        padding: 0.5rem 1.5rem;
        border-radius: 20px;
        transition: all 0.3s;
        width: 135px;
        cursor: pointer;

        &:hover {
            background-color: var(--color-secondary-purple);
            color: var(--color-white);
        }
        &.active {
            background-color: var(--color-secondary-purple);
            color: var(--color-white);
        }
    }
}
.searchContainer {
    text-align: center;
    margin-bottom: 3rem;

    input {
        width: 100%;
        max-width: 600px;
        padding: 0.75rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 0 auto;
        display: block;
    }
}

.rowTitle{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    .itemCard {
        text-align: center;
        margin-bottom: 2rem;

        img {
            border-radius: 10px;
            object-fit: cover;
            margin-bottom: 1rem;
        }

        h4 {
            color: var(--color-primary-dark);
            margin-bottom: 0.5rem;
        }

        h5 {
            color: #666;
            font-size: 0.9rem;
            margin-bottom: 0.5rem;
        }

        p {
            font-weight: bold;
            color: var(--color-secondary-purple);
            margin-bottom: 1rem;
        }

        button {
            background-color: var(--color-primary-dark);
            color: var(--color-text-silver);
            border: none;
            padding: 0.5rem 1.5rem;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: var(--color-secondary-purple);
            }
        }
    }
}
.gaRow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    .gaImg {
        border-radius: 20px;
        @media (max-width: 768px) {
            display: none;
        }
    }
}

.banner {
    margin: 1rem 0;

    img {
        width: 100%;
        object-fit: cover;
    }
}